body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-55px;
  width:506px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:209px;
  width:66px;
  height:36px;
  display:flex;
}
#u4028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:141px;
  width:100px;
  height:36px;
  display:flex;
}
#u4029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:227px;
  width:0px;
  height:0px;
}
#u4030_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:24px;
  height:10px;
}
#u4030_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-73px;
  width:10px;
  height:78px;
}
#u4030_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-73px;
  width:20px;
  height:10px;
}
#u4030_seg3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-78px;
  width:20px;
  height:20px;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:40px;
  width:100px;
  height:36px;
  display:flex;
}
#u4031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:227px;
  width:0px;
  height:0px;
}
#u4032_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:24px;
  height:10px;
}
#u4032_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-174px;
  width:10px;
  height:179px;
}
#u4032_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-174px;
  width:20px;
  height:10px;
}
#u4032_seg3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-179px;
  width:20px;
  height:20px;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-90px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:245px;
  width:100px;
  height:36px;
  display:flex;
}
#u4033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:227px;
  width:0px;
  height:0px;
}
#u4034_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:24px;
  height:10px;
}
#u4034_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-5px;
  width:10px;
  height:46px;
}
#u4034_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:31px;
  width:20px;
  height:10px;
}
#u4034_seg3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:26px;
  width:20px;
  height:20px;
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:368px;
  width:92px;
  height:36px;
  display:flex;
}
#u4035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:227px;
  width:0px;
  height:0px;
}
#u4036_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:24px;
  height:10px;
}
#u4036_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-5px;
  width:10px;
  height:169px;
}
#u4036_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:154px;
  width:20px;
  height:10px;
}
#u4036_seg3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:149px;
  width:20px;
  height:20px;
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:70px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:40px;
  width:100px;
  height:36px;
  display:flex;
}
#u4037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:141px;
  width:100px;
  height:36px;
  display:flex;
}
#u4038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:465px;
  width:92px;
  height:36px;
  display:flex;
}
#u4039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:227px;
  width:0px;
  height:0px;
}
#u4040_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:24px;
  height:10px;
}
#u4040_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-5px;
  width:10px;
  height:266px;
}
#u4040_seg2 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:251px;
  width:20px;
  height:10px;
}
#u4040_seg3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:246px;
  width:20px;
  height:20px;
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:118px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:197px;
  width:100px;
  height:36px;
  display:flex;
}
#u4041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:254px;
  width:100px;
  height:36px;
  display:flex;
}
#u4042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:313px;
  width:100px;
  height:36px;
  display:flex;
}
#u4043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:368px;
  width:100px;
  height:36px;
  display:flex;
}
#u4044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:431px;
  width:100px;
  height:36px;
  display:flex;
}
#u4045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:368px;
  width:100px;
  height:36px;
  display:flex;
}
#u4046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:491px;
  width:100px;
  height:36px;
  display:flex;
}
#u4047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:548px;
  width:100px;
  height:36px;
  display:flex;
}
#u4048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:58px;
  width:0px;
  height:0px;
}
#u4049_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u4049_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:159px;
  width:0px;
  height:0px;
}
#u4050_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:67px;
  height:10px;
}
#u4050_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4050_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:263px;
  width:0px;
  height:0px;
}
#u4051_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:50px;
  height:10px;
}
#u4051_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-53px;
  width:10px;
  height:58px;
}
#u4051_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-53px;
  width:22px;
  height:10px;
}
#u4051_seg3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-58px;
  width:20px;
  height:20px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:263px;
  width:0px;
  height:0px;
}
#u4052_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:50px;
  height:10px;
}
#u4052_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-5px;
  width:10px;
  height:19px;
}
#u4052_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:4px;
  width:22px;
  height:10px;
}
#u4052_seg3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-1px;
  width:20px;
  height:20px;
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:263px;
  width:0px;
  height:0px;
}
#u4053_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:50px;
  height:10px;
}
#u4053_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-5px;
  width:10px;
  height:78px;
}
#u4053_seg2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:63px;
  width:22px;
  height:10px;
}
#u4053_seg3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:58px;
  width:20px;
  height:20px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:386px;
  width:0px;
  height:0px;
}
#u4054_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u4054_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:386px;
  width:0px;
  height:0px;
}
#u4055_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:49px;
  height:10px;
}
#u4055_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:483px;
  width:0px;
  height:0px;
}
#u4056_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u4056_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-39px;
  width:10px;
  height:44px;
}
#u4056_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-39px;
  width:22px;
  height:10px;
}
#u4056_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-44px;
  width:20px;
  height:20px;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:483px;
  width:0px;
  height:0px;
}
#u4057_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u4057_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-5px;
  width:10px;
  height:36px;
}
#u4057_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:21px;
  width:22px;
  height:10px;
}
#u4057_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:16px;
  width:20px;
  height:20px;
}
#u4057_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:483px;
  width:0px;
  height:0px;
}
#u4058_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u4058_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-5px;
  width:10px;
  height:93px;
}
#u4058_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:78px;
  width:22px;
  height:10px;
}
#u4058_seg3 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:73px;
  width:20px;
  height:20px;
}
#u4058_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:40px;
  width:100px;
  height:36px;
  display:flex;
}
#u4059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:98px;
  width:100px;
  height:36px;
  display:flex;
}
#u4060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:58px;
  width:0px;
  height:0px;
}
#u4061_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:43px;
  height:10px;
}
#u4061_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4061_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:58px;
  width:0px;
  height:0px;
}
#u4062_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:28px;
  height:10px;
}
#u4062_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-5px;
  width:10px;
  height:68px;
}
#u4062_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:53px;
  width:20px;
  height:10px;
}
#u4062_seg3 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:48px;
  width:20px;
  height:20px;
}
#u4062_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
