body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-106px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:199px;
  width:100px;
  height:60px;
  display:flex;
}
#u4137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:229px;
  width:0px;
  height:0px;
}
#u4138_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:148px;
  height:10px;
}
#u4138_seg1 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4138_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:259px;
  width:0px;
  height:0px;
}
#u4139_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:108px;
}
#u4139_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:88px;
  width:20px;
  height:20px;
}
#u4139_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:60px;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:199px;
  width:136px;
  height:60px;
  display:flex;
}
#u4140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:199px;
  width:100px;
  height:60px;
  display:flex;
}
#u4141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:229px;
  width:0px;
  height:0px;
}
#u4142_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:124px;
  height:10px;
}
#u4142_seg1 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4142_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:362px;
  width:100px;
  height:60px;
  display:flex;
}
#u4143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:362px;
  width:100px;
  height:60px;
  display:flex;
}
#u4144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:259px;
  width:0px;
  height:0px;
}
#u4145_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:96px;
}
#u4145_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:86px;
  width:11px;
  height:10px;
}
#u4145_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:86px;
  width:10px;
  height:17px;
}
#u4145_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:88px;
  width:20px;
  height:20px;
}
#u4145_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:362px;
  width:100px;
  height:60px;
  display:flex;
}
#u4146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:259px;
  width:0px;
  height:0px;
}
#u4147_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:108px;
}
#u4147_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:88px;
  width:20px;
  height:20px;
}
#u4147_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:199px;
  width:100px;
  height:60px;
  display:flex;
}
#u4148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:229px;
  width:0px;
  height:0px;
}
#u4149_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:131px;
  height:10px;
}
#u4149_seg1 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4149_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:259px;
  width:0px;
  height:0px;
}
#u4150_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:138px;
}
#u4150_seg1 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:128px;
  width:181px;
  height:10px;
}
#u4150_seg2 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:123px;
  width:20px;
  height:20px;
}
#u4150_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:126px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:199px;
  width:100px;
  height:60px;
  display:flex;
}
#u4151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:229px;
  width:0px;
  height:0px;
}
#u4152_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:108px;
  height:10px;
}
#u4152_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:259px;
  width:0px;
  height:0px;
}
#u4153_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:96px;
}
#u4153_seg1 {
  border-width:0px;
  position:absolute;
  left:-670px;
  top:86px;
  width:675px;
  height:10px;
}
#u4153_seg2 {
  border-width:0px;
  position:absolute;
  left:-670px;
  top:86px;
  width:10px;
  height:17px;
}
#u4153_seg3 {
  border-width:0px;
  position:absolute;
  left:-675px;
  top:88px;
  width:20px;
  height:20px;
}
#u4153_text {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:97px;
  width:50px;
  height:80px;
  display:flex;
}
#u4154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:177px;
  width:0px;
  height:0px;
}
#u4155_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:57px;
}
#u4155_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:47px;
  width:195px;
  height:10px;
}
#u4155_seg2 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:42px;
  width:20px;
  height:20px;
}
#u4155_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:199px;
  width:100px;
  height:60px;
  display:flex;
}
#u4156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:137px;
  width:0px;
  height:0px;
}
#u4157_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:649px;
  height:10px;
}
#u4157_seg1 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:-5px;
  width:10px;
  height:102px;
}
#u4157_seg2 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:87px;
  width:24px;
  height:10px;
}
#u4157_seg3 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:82px;
  width:20px;
  height:20px;
}
#u4157_text {
  border-width:0px;
  position:absolute;
  left:328px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:229px;
  width:0px;
  height:0px;
}
#u4158_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:103px;
  height:10px;
}
#u4158_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4158_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:617px;
  width:50px;
  height:80px;
  display:flex;
}
#u4159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:532px;
  width:100px;
  height:60px;
  display:flex;
}
#u4160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:617px;
  width:0px;
  height:0px;
}
#u4161_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-60px;
  width:10px;
  height:60px;
}
#u4161_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-60px;
  width:195px;
  height:10px;
}
#u4161_seg2 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-65px;
  width:20px;
  height:20px;
}
#u4161_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:562px;
  width:0px;
  height:0px;
}
#u4162_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:134px;
  height:10px;
}
#u4162_seg1 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-338px;
  width:10px;
  height:343px;
}
#u4162_seg2 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-338px;
  width:19px;
  height:10px;
}
#u4162_seg3 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-343px;
  width:20px;
  height:20px;
}
#u4162_text {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-116px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:532px;
  width:0px;
  height:0px;
}
#u4163_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-110px;
  width:10px;
  height:115px;
}
#u4163_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-115px;
  width:20px;
  height:20px;
}
#u4163_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:657px;
  width:0px;
  height:0px;
}
#u4164_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:399px;
  height:10px;
}
#u4164_seg1 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:-433px;
  width:10px;
  height:438px;
}
#u4164_seg2 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:-433px;
  width:19px;
  height:10px;
}
#u4164_seg3 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:-438px;
  width:20px;
  height:20px;
}
#u4164_text {
  border-width:0px;
  position:absolute;
  left:344px;
  top:-39px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
