
#u1034_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034.c {
  top:1755px;
}
#u1034_text.c {
}
#u1034 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1035.c {
  left:504px;
  top:1504px;
}
#u1035_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u1035.c {
  left:504px;
  top:1504px;
}
#u1035_text.c {
}
#u1035 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1036.c {
  left:551px;
  top:1504px;
}
#u1036_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u1036.c {
  left:551px;
  top:1504px;
}
#u1036_text.c {
}
#u1036 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1037.c {
  left:593px;
  top:1504px;
}
#u1037_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u1037.c {
  left:593px;
  top:1504px;
}
#u1037_text.c {
}
#u1037 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1038.c {
  left:635px;
  top:1503px;
}
#u1038_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
}
#u1038.c {
  left:635px;
  top:1503px;
}
#u1038_text.c {
}
#u1038 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1039.c {
  left:266px;
  top:1375px;
  width:208px;
}
#u1039_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1039.c {
  left:266px;
  top:1375px;
  width:208px;
}
#u1039_text.c {
}
#u1039 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1040.c {
  left:588px;
  top:1299px;
  width:189px;
}
#u1040_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1040.c {
  left:588px;
  top:1299px;
  width:189px;
}
#u1040_text.c {
}
#u1040 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1041.c {
  left:588px;
  top:1337px;
  width:176px;
}
#u1041_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1041.c {
  left:588px;
  top:1337px;
  width:176px;
}
#u1041_text.c {
}
#u1041 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1042.c {
  left:588px;
  top:1374px;
  width:176px;
}
#u1042_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1042.c {
  left:588px;
  top:1374px;
  width:176px;
}
#u1042_text.c {
}
#u1042 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1043.c {
  left:852px;
  top:1299px;
  width:220px;
}
#u1043_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1043.c {
  left:852px;
  top:1299px;
  width:220px;
}
#u1043_text.c {
}
#u1043 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1044.c {
  left:852px;
  top:1337px;
  width:220px;
}
#u1044_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1044.c {
  left:852px;
  top:1337px;
  width:220px;
}
#u1044_text.c {
}
#u1044 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1045.c {
  left:852px;
  top:1375px;
  width:202px;
}
#u1045_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7F7F7F;
  text-align:left;
}
#u1045.c {
  left:852px;
  top:1375px;
  width:202px;
}
#u1045_text.c {
}
#u1045 .text.c {
  align-self:center;
  padding:2px 2px 2px 15px;
}
#u1046.c {
  top:79px;
  width:1170px;
}
#u1046_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:122px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046.c {
  top:79px;
  width:1170px;
}
#u1046_text.c {
}
#u1046 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1047.c {
  top:106px;
}
#u1047_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u1047.c {
  top:106px;
}
#u1047_text.c {
}
#u1047 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1048.c {
  top:139px;
  width:640px;
}
#u1048_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1048.c {
  top:139px;
  width:640px;
}
#u1048_text.c {
}
#u1048 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1050.c {
  top:175px;
}
#u1050_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1050.c {
  top:175px;
}
#u1050_text.c {
}
#u1050 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1051.c {
  top:179px;
}
#u1051_img.c {
}
#u1051.c {
  top:179px;
}
#u1051_text.c {
}
#u1051 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1052.c {
  left:1021px;
  top:214px;
}
#u1052_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1052.c {
  left:1021px;
  top:214px;
}
#u1052_text.c {
}
#u1052 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1054.c {
  left:1151px;
  top:218px;
}
#u1054_img.c {
}
#u1054.c {
  left:1151px;
  top:218px;
}
#u1054_text.c {
}
#u1054 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1055.c {
  left:1062px;
  top:214px;
}
#u1055_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u1055.c {
  left:1062px;
  top:214px;
}
#u1055_text.c {
}
#u1055 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1056.c {
  border-width:0px;
  position:absolute;
  left:985px;
  top:240px;
  width:185px;
  height:214px;
}
#u1057.c {
  position:absolute;
  left:-2px;
  top:0px;
  width:170px;
  height:195px;
}
#u1059.c {
}
#u1059_img.c {
}
#u1059.c {
}
#u1059_text.c {
}
#u1059 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1060.c {
}
#u1060_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1060.c {
}
#u1060_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1060.c.mouseOver {
}
#u1060_text.c {
}
#u1060 .text.c {
  align-self:center;
  padding:2px 2px 2px 20px;
}
#u1061.c {
}
#u1061_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1061.c {
}
#u1061_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1061.c.mouseOver {
}
#u1061_text.c {
}
#u1061 .text.c {
  align-self:center;
  padding:2px 2px 2px 20px;
}
#u1062.c {
}
#u1062_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1062.c {
}
#u1062_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1062.c.mouseOver {
}
#u1062_text.c {
}
#u1062 .text.c {
  align-self:center;
  padding:2px 2px 2px 20px;
}
#u1063.c {
}
#u1063_img.c {
}
#u1063.c {
}
#u1063_text.c {
}
#u1063 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1064.c {
}
#u1064_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1064.c {
}
#u1064_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1064.c.mouseOver {
}
#u1064_text.c {
}
#u1064 .text.c {
  align-self:center;
  padding:2px 2px 2px 20px;
}
#u1065.c {
}
#u1065_img.c {
}
#u1065.c {
}
#u1065_text.c {
}
#u1065 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1066.c {
}
#u1066_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1066.c {
}
#u1066_div.mouseOver.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:-webkit-linear-gradient(270deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  background:linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(232, 232, 232, 1) 100%, rgba(232, 232, 232, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u1066.c.mouseOver {
}
#u1066_text.c {
}
#u1066 .text.c {
  align-self:center;
  padding:2px 2px 2px 20px;
}
#u1067.c {
}
#u1067_img.c {
}
#u1067.c {
}
#u1067_text.c {
}
#u1067 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1068.c {
}
#u1068_img.c {
}
#u1068.c {
}
#u1068_text.c {
}
#u1068 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1056_state0.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069.c {
  position:absolute;
  left:17px;
  top:211px;
  width:220px;
  height:348px;
}
#u1070.c {
}
#u1070_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070.c {
}
#u1070_text.c {
}
#u1070 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1071.c {
}
#u1071_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071.c {
}
#u1071_text.c {
}
#u1071 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1072.c {
  width:200px;
  height:200px;
}
#u1072_img.c {
  width:200px;
  height:200px;
}
#u1072.c {
  width:200px;
  height:200px;
}
#u1072_text.c {
}
#u1072 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1073.c {
  top:439px;
  width:220px;
  height:56px;
}
#u1073_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1073.c {
  top:439px;
  width:220px;
  height:56px;
}
#u1073_text.c {
}
#u1073 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1074.c {
  top:508px;
  width:64px;
  height:18px;
}
#u1074_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1074.c {
  top:508px;
  width:64px;
  height:18px;
}
#u1074_text.c {
}
#u1074 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1075.c {
  left:17px;
  top:539px;
  width:64px;
  height:18px;
}
#u1075_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1075.c {
  left:17px;
  top:539px;
  width:64px;
  height:18px;
}
#u1075_text.c {
}
#u1075 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1076.c {
  left:84px;
  top:505px;
  width:45px;
  height:23px;
}
#u1076_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1076.c {
  left:84px;
  top:505px;
  width:45px;
  height:23px;
}
#u1076_text.c {
}
#u1076 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1077.c {
  left:84px;
  top:536px;
  width:45px;
  height:23px;
}
#u1077_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1077.c {
  left:84px;
  top:536px;
  width:45px;
  height:23px;
}
#u1077_text.c {
}
#u1077 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1078.c {
  position:absolute;
  left:201px;
  top:211px;
  width:220px;
  height:348px;
}
#u1079.c {
}
#u1079_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079.c {
}
#u1079_text.c {
}
#u1079 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1080.c {
}
#u1080_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080.c {
}
#u1080_text.c {
}
#u1080 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1081.c {
  width:200px;
  height:200px;
}
#u1081_img.c {
  width:200px;
  height:200px;
}
#u1081.c {
  width:200px;
  height:200px;
}
#u1081_text.c {
}
#u1081 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1082.c {
  top:439px;
  width:220px;
  height:56px;
}
#u1082_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1082.c {
  top:439px;
  width:220px;
  height:56px;
}
#u1082_text.c {
}
#u1082 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1083.c {
  top:508px;
  width:64px;
  height:18px;
}
#u1083_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1083.c {
  top:508px;
  width:64px;
  height:18px;
}
#u1083_text.c {
}
#u1083 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1084.c {
  left:201px;
  top:539px;
  width:64px;
  height:18px;
}
#u1084_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1084.c {
  left:201px;
  top:539px;
  width:64px;
  height:18px;
}
#u1084_text.c {
}
#u1084 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1085.c {
  left:268px;
  top:505px;
  width:45px;
  height:23px;
}
#u1085_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1085.c {
  left:268px;
  top:505px;
  width:45px;
  height:23px;
}
#u1085_text.c {
}
#u1085 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1086.c {
  left:268px;
  top:536px;
  width:45px;
  height:23px;
}
#u1086_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1086.c {
  left:268px;
  top:536px;
  width:45px;
  height:23px;
}
#u1086_text.c {
}
#u1086 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1087.c {
  position:absolute;
  left:17px;
  top:517px;
  width:220px;
  height:348px;
}
#u1088.c {
}
#u1088_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088.c {
}
#u1088_text.c {
}
#u1088 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1089.c {
}
#u1089_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1089.c {
}
#u1089_text.c {
}
#u1089 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1090.c {
  width:200px;
  height:200px;
}
#u1090_img.c {
  width:200px;
  height:200px;
}
#u1090.c {
  width:200px;
  height:200px;
}
#u1090_text.c {
}
#u1090 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1091.c {
  top:745px;
  width:220px;
  height:56px;
}
#u1091_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1091.c {
  top:745px;
  width:220px;
  height:56px;
}
#u1091_text.c {
}
#u1091 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1092.c {
  top:814px;
  width:64px;
  height:18px;
}
#u1092_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1092.c {
  top:814px;
  width:64px;
  height:18px;
}
#u1092_text.c {
}
#u1092 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1093.c {
  left:17px;
  top:845px;
  width:64px;
  height:18px;
}
#u1093_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1093.c {
  left:17px;
  top:845px;
  width:64px;
  height:18px;
}
#u1093_text.c {
}
#u1093 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1094.c {
  left:84px;
  top:811px;
  width:45px;
  height:23px;
}
#u1094_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1094.c {
  left:84px;
  top:811px;
  width:45px;
  height:23px;
}
#u1094_text.c {
}
#u1094 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1095.c {
  left:84px;
  top:842px;
  width:45px;
  height:23px;
}
#u1095_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1095.c {
  left:84px;
  top:842px;
  width:45px;
  height:23px;
}
#u1095_text.c {
}
#u1095 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1096.c {
  position:absolute;
  left:201px;
  top:517px;
  width:220px;
  height:348px;
}
#u1097.c {
}
#u1097_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097.c {
}
#u1097_text.c {
}
#u1097 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1098.c {
}
#u1098_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098.c {
}
#u1098_text.c {
}
#u1098 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1099.c {
  width:200px;
  height:200px;
}
#u1099_img.c {
  width:200px;
  height:200px;
}
#u1099.c {
  width:200px;
  height:200px;
}
#u1099_text.c {
}
#u1099 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1100.c {
  top:745px;
  width:220px;
  height:56px;
}
#u1100_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1100.c {
  top:745px;
  width:220px;
  height:56px;
}
#u1100_text.c {
}
#u1100 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1101.c {
  top:814px;
  width:64px;
  height:18px;
}
#u1101_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1101.c {
  top:814px;
  width:64px;
  height:18px;
}
#u1101_text.c {
}
#u1101 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1102.c {
  left:201px;
  top:845px;
  width:64px;
  height:18px;
}
#u1102_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1102.c {
  left:201px;
  top:845px;
  width:64px;
  height:18px;
}
#u1102_text.c {
}
#u1102 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1103.c {
  left:268px;
  top:811px;
  width:45px;
  height:23px;
}
#u1103_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1103.c {
  left:268px;
  top:811px;
  width:45px;
  height:23px;
}
#u1103_text.c {
}
#u1103 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1104.c {
  left:268px;
  top:842px;
  width:45px;
  height:23px;
}
#u1104_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1104.c {
  left:268px;
  top:842px;
  width:45px;
  height:23px;
}
#u1104_text.c {
}
#u1104 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1105.c {
  position:absolute;
  left:17px;
  top:823px;
  width:220px;
  height:348px;
}
#u1106.c {
}
#u1106_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106.c {
}
#u1106_text.c {
}
#u1106 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1107.c {
}
#u1107_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107.c {
}
#u1107_text.c {
}
#u1107 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1108.c {
  width:200px;
  height:200px;
}
#u1108_img.c {
  width:200px;
  height:200px;
}
#u1108.c {
  width:200px;
  height:200px;
}
#u1108_text.c {
}
#u1108 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1109.c {
  top:1051px;
  width:220px;
  height:56px;
}
#u1109_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1109.c {
  top:1051px;
  width:220px;
  height:56px;
}
#u1109_text.c {
}
#u1109 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1110.c {
  top:1120px;
  width:64px;
  height:18px;
}
#u1110_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1110.c {
  top:1120px;
  width:64px;
  height:18px;
}
#u1110_text.c {
}
#u1110 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1111.c {
  left:17px;
  top:1151px;
  width:64px;
  height:18px;
}
#u1111_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1111.c {
  left:17px;
  top:1151px;
  width:64px;
  height:18px;
}
#u1111_text.c {
}
#u1111 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1112.c {
  left:84px;
  top:1117px;
  width:45px;
  height:23px;
}
#u1112_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1112.c {
  left:84px;
  top:1117px;
  width:45px;
  height:23px;
}
#u1112_text.c {
}
#u1112 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1113.c {
  left:84px;
  top:1148px;
  width:45px;
  height:23px;
}
#u1113_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1113.c {
  left:84px;
  top:1148px;
  width:45px;
  height:23px;
}
#u1113_text.c {
}
#u1113 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1114.c {
  position:absolute;
  left:201px;
  top:823px;
  width:220px;
  height:348px;
}
#u1115.c {
}
#u1115_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115.c {
}
#u1115_text.c {
}
#u1115 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1116.c {
}
#u1116_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1116.c {
}
#u1116_text.c {
}
#u1116 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1117.c {
  width:200px;
  height:200px;
}
#u1117_img.c {
  width:200px;
  height:200px;
}
#u1117.c {
  width:200px;
  height:200px;
}
#u1117_text.c {
}
#u1117 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1118.c {
  top:1051px;
  width:220px;
  height:56px;
}
#u1118_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1118.c {
  top:1051px;
  width:220px;
  height:56px;
}
#u1118_text.c {
}
#u1118 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1119.c {
  top:1120px;
  width:64px;
  height:18px;
}
#u1119_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1119.c {
  top:1120px;
  width:64px;
  height:18px;
}
#u1119_text.c {
}
#u1119 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1120.c {
  left:201px;
  top:1151px;
  width:64px;
  height:18px;
}
#u1120_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1120.c {
  left:201px;
  top:1151px;
  width:64px;
  height:18px;
}
#u1120_text.c {
}
#u1120 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1121.c {
  left:268px;
  top:1117px;
  width:45px;
  height:23px;
}
#u1121_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1121.c {
  left:268px;
  top:1117px;
  width:45px;
  height:23px;
}
#u1121_text.c {
}
#u1121 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1122.c {
  left:268px;
  top:1148px;
  width:45px;
  height:23px;
}
#u1122_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1122.c {
  left:268px;
  top:1148px;
  width:45px;
  height:23px;
}
#u1122_text.c {
}
#u1122 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1123.c {
  position:absolute;
  left:17px;
  top:1129px;
  width:220px;
  height:348px;
}
#u1124.c {
}
#u1124_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124.c {
}
#u1124_text.c {
}
#u1124 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1125.c {
}
#u1125_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1125.c {
}
#u1125_text.c {
}
#u1125 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1126.c {
  width:200px;
  height:200px;
}
#u1126_img.c {
  width:200px;
  height:200px;
}
#u1126.c {
  width:200px;
  height:200px;
}
#u1126_text.c {
}
#u1126 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1127.c {
  top:1357px;
  width:220px;
  height:56px;
}
#u1127_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1127.c {
  top:1357px;
  width:220px;
  height:56px;
}
#u1127_text.c {
}
#u1127 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1128.c {
  top:1426px;
  width:64px;
  height:18px;
}
#u1128_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1128.c {
  top:1426px;
  width:64px;
  height:18px;
}
#u1128_text.c {
}
#u1128 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1129.c {
  left:17px;
  top:1457px;
  width:64px;
  height:18px;
}
#u1129_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1129.c {
  left:17px;
  top:1457px;
  width:64px;
  height:18px;
}
#u1129_text.c {
}
#u1129 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1130.c {
  left:84px;
  top:1423px;
  width:45px;
  height:23px;
}
#u1130_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1130.c {
  left:84px;
  top:1423px;
  width:45px;
  height:23px;
}
#u1130_text.c {
}
#u1130 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1131.c {
  left:84px;
  top:1454px;
  width:45px;
  height:23px;
}
#u1131_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1131.c {
  left:84px;
  top:1454px;
  width:45px;
  height:23px;
}
#u1131_text.c {
}
#u1131 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1132.c {
  position:absolute;
  left:201px;
  top:1129px;
  width:220px;
  height:348px;
}
#u1133.c {
}
#u1133_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133.c {
}
#u1133_text.c {
}
#u1133 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1134.c {
}
#u1134_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134.c {
}
#u1134_text.c {
}
#u1134 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1135.c {
  width:200px;
  height:200px;
}
#u1135_img.c {
  width:200px;
  height:200px;
}
#u1135.c {
  width:200px;
  height:200px;
}
#u1135_text.c {
}
#u1135 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1136.c {
  top:1357px;
  width:220px;
  height:56px;
}
#u1136_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
  line-height:24px;
}
#u1136.c {
  top:1357px;
  width:220px;
  height:56px;
}
#u1136_text.c {
}
#u1136 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1137.c {
  top:1426px;
  width:64px;
  height:18px;
}
#u1137_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1137.c {
  top:1426px;
  width:64px;
  height:18px;
}
#u1137_text.c {
}
#u1137 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1138.c {
  left:201px;
  top:1457px;
  width:64px;
  height:18px;
}
#u1138_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#555555;
  text-align:center;
}
#u1138.c {
  left:201px;
  top:1457px;
  width:64px;
  height:18px;
}
#u1138_text.c {
}
#u1138 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1139.c {
  left:268px;
  top:1423px;
  width:45px;
  height:23px;
}
#u1139_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1139.c {
  left:268px;
  top:1423px;
  width:45px;
  height:23px;
}
#u1139_text.c {
}
#u1139 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1140.c {
  left:268px;
  top:1454px;
  width:45px;
  height:23px;
}
#u1140_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
  text-align:center;
}
#u1140.c {
  left:268px;
  top:1454px;
  width:45px;
  height:23px;
}
#u1140_text.c {
}
#u1140 .text.c {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
